<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.kms.alexandra"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="com.kms.alexandra.centralunit.Alexandra"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".centralunit.MainActivity"
            android:label="@string/title_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.kms.alexandra.centralunit.Autostart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.kms.alexandra.data.SyncService">
        </service>
        <service android:name="com.kms.alexandra.data.FirebaseSyncService">
        </service>


        <service android:name="com.kms.alexandra.centralunit.ScheduleService">
        </service>

        <receiver android:name="com.kms.alexandra.centralunit.ScheduleReceiver">
        </receiver>


        <receiver android:name="com.kms.alexandra.centralunit.HistorianBroadcastReceiver">
        </receiver>

        <service
            android:name="com.kms.alexandra.centralunit.ControlMessageDispatcher">
        </service>
        <service
            android:name="com.kms.alexandra.centralunit.FirebaseControlMessageDispatcher">
        </service>
        <service
            android:name="com.kms.alexandra.centralunit.BluetoothControlMessageDispatcher">
        </service>
    </application>

</manifest>